@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1670915296454') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wode:before {
  content: "\e8a0";
}

.icon-shouye:before {
  content: "\e606";
}

.icon-huiyuan:before {
  content: "\e8b1";
}

.icon-wodeguanzhu:before {
  content: "\e8bc";
}

